body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
}

.graph-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

#graph-data-description {
    font-size: 12px;
    color: slategrey;
}

.btn {
    cursor: pointer;
    font-size: 20px; 
    border: 2px; 
    margin: 0px;
    border-radius: 50%; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    text-align: center;
}

.unicorn {
    background-color: #dccaf0;
}
.unicorn::after {
    content:"\01F984";
}

.paint {
    background: #fdcfa4;
}
.paint::after {
    content:"\01F3A8";
}

.links {
    background: aliceblue;
}
.links::after {
    content:"\0026D3"
}

.link {
    background: aliceblue;
}
.link::after {
    content: "\01F517";
}

.coloredlinks {
    background: rgb(5, 110, 202);
}
.coloredlinks::after {
    content:"\0026D3"
}

.eightball {
    background: aliceblue;
}
.eightball::after {
    content:"\01F3B1"
}

.coloredeightball {
    background: rgb(5, 110, 202);
}
.coloredeightball::after {
    content:"\01F3B1"
}

.dizzy {
    background: aliceblue;
}
.dizzy::after {
    /* content:"\01F5B8" */
    content:"\0021BB"
    /* content:"\01F4AB" */
}

.wave {
    background: rgb(2, 41, 75);
}
.wave::after {
    content:"\01F30A";
}

.twocolorpill {
    background: rgb(5, 110, 202);
}
.twocolorpill::after {
    content:"\01F48A";
}

.uzumaki {
    background: rgb(157, 221, 151);
}
.uzumaki::after {
    content:"\01F300";
}

.timer {
    background: rgb(255, 167, 53);
}
.timer::after {
    content:"\0023F1";
}

.bomb {
    background: white;
}
.bomb::after {
    content: "\01F4A3"
}

.small-btn {
    width: 50px !important;
    height: 25px !important;
}

.medium-btn {
    width: 70px !important;
    height: 30px !important;
}

.big-btn {
    width: 90px !important;
    height: 40px !important;
}

/*
 * input slider styling. Attribution: http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
 */

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid black;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 30px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 10%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #111;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 30px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 10%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid black;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 10%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #111;
}