body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
}

.graph-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

#graph-data-description {
    font-size: 12px;
    color: slategrey;
}

.btn {
    cursor: pointer;
    font-size: 20px; 
    border: 2px; 
    margin: 0px;
    border-radius: 50%; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    text-align: center;
}

.unicorn {
    background-color: #dccaf0;
}
.unicorn::after {
    content:"\01F984";
}

.paint {
    background: #fdcfa4;
}
.paint::after {
    content:"\01F3A8";
}

.links {
    background: aliceblue;
}
.links::after {
    content:"\0026D3"
}

.link {
    background: aliceblue;
}
.link::after {
    content: "\01F517";
}

.coloredlinks {
    background: rgb(5, 110, 202);
}
.coloredlinks::after {
    content:"\0026D3"
}

.eightball {
    background: aliceblue;
}
.eightball::after {
    content:"\01F3B1"
}

.coloredeightball {
    background: rgb(5, 110, 202);
}
.coloredeightball::after {
    content:"\01F3B1"
}

.dizzy {
    background: aliceblue;
}
.dizzy::after {
    /* content:"\01F5B8" */
    content:"\0021BB"
    /* content:"\01F4AB" */
}

.wave {
    background: rgb(2, 41, 75);
}
.wave::after {
    content:"\01F30A";
}

.small-btn {
    width: 50px !important;
    height: 25px !important;
}

.medium-btn {
    width: 70px !important;
    height: 30px !important;
}

.big-btn {
    width: 90px !important;
    height: 40px !important;
}